.navbar {
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background: lightgray;
}

 .navbar__links {
  display: flex;
  margin-left: auto;
} 

 .navbar__link {
  text-decoration: none;
  color: teal;
  font-weight: 800;
  margin-right: 20px;
}  


.navbar__link::after, .navbar__link::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #ED3B65;
  transition: 0.5s;
  display: block;
}

.navbar__link:hover::after, .navbar__link:hover::before {
  width: 100%;
}